<div>
  <h1 id="the-venue">The venue</h1>

  <p>The wedding is taking place on plot of private property affectionately known as
    ‘Hamm Land’</p>

  <!-- venue carousel -->
  <carousel cellWidth="100%" dots="true" overflowCellsLimit="2" lightDOM="true" [images]="[
  {path: 'venue/venue1.JPG'|getDownloadURL},
  {path: 'venue/venue2.JPG'|getDownloadURL},
  {path: 'venue/venue3.JPG'|getDownloadURL},
  {path: 'venue/venue4.JPG'|getDownloadURL},
  {path: 'venue/venue6.JPG'|getDownloadURL},
  {path: 'venue/venue7.JPG'|getDownloadURL},
  {path: 'venue/venue8.JPG'|getDownloadURL},
  {path: 'venue/venue9.JPG'|getDownloadURL},
  {path: 'venue/venue10.JPG'|getDownloadURL},
  {path: 'venue/venue11.JPG'|getDownloadURL},
]">
  </carousel>

  <p>These 66-acres have passed through generations of Hamms who have taken care of the land by planting trees,
    maintaining trails, and–most notably–digging an artificial lake. Wildlife commonly seen around include familes
    of geese (with their fuzzy, little goslings 🐣), hummingbirds, turkeys, and deer.</p>

  <!-- lake carousel -->
  <carousel cellWidth="100%" dots="true" overflowCellsLimit="2" lightDOM="true" [images]="[
  {path: 'venue/lake1.JPG'|getDownloadURL},
  {path: 'venue/lake2.JPG'|getDownloadURL},
  {path: 'venue/lake3.JPG'|getDownloadURL},
  {path: 'venue/lake4.JPG'|getDownloadURL},
  {path: 'venue/lake5.JPG'|getDownloadURL},
  {path: 'venue/lake7.JPG'|getDownloadURL},
  {path: 'venue/lake8.JPG'|getDownloadURL},
  {path: 'venue/lake9.JPG'|getDownloadURL},
  {path: 'venue/island1.JPG'|getDownloadURL},
  {path: 'venue/island2.JPG'|getDownloadURL},
  {path: 'venue/island3.JPG'|getDownloadURL},
  {path: 'venue/raft1.JPG'|getDownloadURL},
  {path: 'venue/raft2.JPG'|getDownloadURL},
]">
  </carousel>

  <p>The manmade lake makes connections with the Wisconsin River, has several small islands, and is home to several
    types of fish. The typical holiday weekend for the Hamms involve inner-tubing, kayaking, and fishing. My favorite
    thing about the lake is the anchored raft floating in the middle which makes for a good diving platform!</p>
</div>