<div>
  <h1 id="the-venue">The venue</h1>

  <img [src]="'venue/bridge1.JPG' |getDownloadURL">

  <p>The wedding is taking place on 66-acre plot of private property in Mauston, Wisconsin. Affectionately known as
    ‘Hamm Land’ the property has passed through generations of Hamms who have taken care of the land by planting trees,
    maintaining trails, and–most notably–digging an artificial lake. </p>

  <p>Common sights around the property include familes
    of geese (with their fuzzy, little goslings), a myriad of small and large birds, and deer.</p>

  <p>The manmade lake makes connections with the Wisconsin River, has several small islands, and is home to several
    types of
    fish. My favorite thing about the lake is the anchored raft floating in the middle-makes for a good diving and
    sunbathing platform!</p>

  <p>Tina's parents maintain a small campsite for their friends and family. It's a good place to drink, roast
    marshmellows, play lawn games, and go for a swim. If you'd like to stay on the campgrounds for the wedding, please
    contact us ASAP as space is limited</p>
</div>