<div *ngIf="user.$isApproved | async" class="dropzone" dropzone (hovered)="toggleHover($event)"
  (dropped)="onDrop($event)" [class.hovering]="isHovering">





  <h3>Drag and drop files here to upload</h3>
  <p>or</p>
  <div class="file">
    <label class="file-label">




      <input class="file-input" type="file" (change)="onDrop($event.target.files)">




      <span class="file-cta">
        <span class="file-icon">
          <i class="fa fa-upload"></i>
        </span>
        <!-- <span class="file-label">
          or choose a file…
        </span> -->
      </span>
    </label>
  </div>
</div>

<mat-card *ngFor="let upload of $uploads | async" class="upload-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>Uploaded by {{upload.name}}</mat-card-title>
    <mat-card-subtitle>{{upload.timestamp | date}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="upload.downloadURL">
  <!-- <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content> -->
  <!-- <mat-card-actions> -->
  <!-- <button mat-button>LIKE</button> -->
  <!-- <button mat-button>SHARE</button> -->
  <!-- </mat-card-actions> -->
</mat-card>