<div *ngIf="(user.rsvp$ | async)?.approved; else needApproval" class="dropzone" dropzone (hovered)="toggleHover($event)"
  (dropped)="onDrop($event)" [class.hovering]="isHovering">





  <h3>Drag and drop files here to upload</h3>
  <p>or</p>
  <div class="file">
    <label class="file-label">




      <input class="file-input" type="file" (change)="onDrop($event.target.files)">




      <span class="file-cta">
        <span class="file-icon">
          <i class="fa fa-upload"></i>
        </span>
        <!-- <span class="file-label">
          or choose a file…
        </span> -->
      </span>
    </label>
  </div>
</div>

<ng-template #needApproval>
  <p *ngIf="(user.rsvp$ | async); else needRSVP"> To be able to upload pictures your account must be approved manually.
    Please
    contact me.</p>
  <ng-template #needRSVP>
    <p></p>
    <p>To be able to upload pictures you must RSVP.</p>
  </ng-template>
</ng-template>


<!-- <mat-card *ngFor="let upload of uploads$ | async" class="upload-card"> -->
<mat-card *ngFor="let upload of page.data | async" class="upload-card">
  <!-- <p>{{upload | json}}</p> -->
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>Uploaded by {{upload.name}}</mat-card-title>
    <mat-card-subtitle>{{upload.timestamp | date}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="upload.downloadURL">
  <mat-card-content *ngIf="upload.comment">
    <p>
      {{upload.comment}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-button>LIKE</button> -->
    <!-- <button mat-raised-button color="primary" (click)="prevUpload(upload)">👈 Prev</button> -->
    <button mat-raised-button color="warn" *ngIf="isOwner(upload)" (click)="deleteUpload(upload)">Delete</button>
    <!-- <button mat-raised-button (click)="nextUpload(upload)">Next 👉</button> -->
  </mat-card-actions>
</mat-card>


<div id="load-more">

  <button mat-raised-button (click)="page.more()">Load more</button>
</div>