<div>
  <h1>Lodging</h1>

  <p>You are, of course, free to stay wherever you please (if you find a nice Airbnb in the area, go for it!). However,
    we <strong>highly
      encourage</strong> you stay at one
    of the
    accommodations listed below. Not only will rooms have discounted rates specifically for the wedding, but we will be
    arranging transportation between the venue and these hotels.</p>

  <h2><a href="https://thelodgeatmauston.com/" target="_blank">"The Lodge" at Mauston</a></h2>

  <img [src]="'lodging/the lodge.jpg'|getDownloadURL">

  <p>Phone: 608-747-2200</p>

  <p>note: this is Mauston's most upscale hotel. As such availability is limited and rates are higher than the other
    choices.
    Don't let that deter you though, in fact this is the place Tina and I plan on staying! Be sure to book at least 30
    days in advance by using the code 'hamm'.</p>

  <h2><a target="_blank" href="https://www.wyndhamhotels.com/super-8/mauston-wisconsin/super-8-mauston/overview#">Super
      8</a></h2>

  <img [src]="'lodging/super 8.webp'|getDownloadURL">

  <p>Phone: 608-847-2300</p>

  <p>Note: be sure to book at least 3 weeks in advance and use the code 'Heath Wedding'. If their website says they are
    full, I recommend calling them, as their website was not working properly when I tried a dry-run</p>

  <h2><a target="_blank"
      href="https://www.bestwestern.com/en_US/book/hotels-in-mauston/best-western-park-oasis-inn/propertyCode.50111.html">Best
      Western</a></h2>

  <img [src]="'lodging/best western.jpg'|getDownloadURL">

  <p>Phone: 608-847-6255</p>

  <h2><a href="https://www.choicehotels.com/wisconsin/mauston/quality-inn-hotels/wi237" target="_blank">Quality
      Inn</a></h2>

  <img [src]="'lodging/quality inn.JPG'|getDownloadURL">

  <p>Phone: 608-847-5959</p>

  <h2><a
      href="https://www.wyndhamhotels.com/americinn/new-lisbon-wisconsin/americinn-hotel-and-suites-new-lisbon/overview"
      target="_blank">AmericInn</a>
  </h2>

  <img [src]="'lodging/americinn.webp'|getDownloadURL">

  <p>Phone: 608-847-5959</p>

  <p>Note: this hotel is <em>not in Mauston, but rather the neighboring town New Lisbon.</em> We blocked off
    these rooms as
    overflow. Please only stay here
    if you cannot find a room in one of the other hotels. You should know that we will <strong>not</strong> have
    pre-arranged
    transportation for this particular hotel. </p>

  <h2 id="campground-info">Camping at Hamm Land</h2>

  <!-- camp carousel -->
  <carousel cellWidth="100%" dots="true" overflowCellsLimit="2" lightDOM="true" [images]="[
    {path: 'venue/camp1.JPG'|getDownloadURL},
    {path: 'venue/camp2.JPG'|getDownloadURL},
    {path: 'venue/camp3.JPG'|getDownloadURL},
    {path: 'venue/games1.JPG'|getDownloadURL},
    {path: 'venue/games2.JPG'|getDownloadURL},
    {path: 'venue/games3.JPG'|getDownloadURL},
    {path: 'venue/games4.JPG'|getDownloadURL},
    {path: 'venue/campwater1.JPG'|getDownloadURL},
    {path: 'venue/campwater2.JPG'|getDownloadURL},
    {path: 'venue/campwater3.JPG'|getDownloadURL},
    {path: 'venue/campwater4.JPG'|getDownloadURL},
  ]">
  </carousel>

  <p>Tina's parents maintain a small campsite for their friends and family. No need to worry about transportation when
    you can stumble from the reception over to your tent! If you don't mind going the weekend without basic amenities,
    this is a good, cheap option for those
    willing
    to rough it.</p>

  <p>If you'd like to stay on the campgrounds for the wedding, please
    contact us directly ASAP as space is limited.</p>
</div>