<div>
  <h1>Lodging</h1>

  <p>You are, of course, free to stay wherever you please. However, we <strong>highly encourage</strong> you stay at one
    of the
    accommodations listed below. Not only will rooms have discounted rates specifically for the wedding, but we will be
    arranging transportation between the venue and these hotels.</p>

  <h2>"The Lodge" at Mauston</h2>

  <img src="assets/img/the lodge.jpg">

  <p>This is Mauston's most upscale hotel. As such availability is limited and rates are higher than the other choices.
    Don't let that deter you though, in fact this is the place Tina and I plan on staying!</p>

  <p>Right now, we have 20 rooms blocked at a rate of $159.99 (plus tax). You can book <a
      href="https://thelodgeatmauston.com/" target="_blank">on their website</a> using the code 'hamm' or by calling
    608-747-2200. Be sure to book at least 30 days in advance, so by June 29th! </p>

  <h2>Hotel 2</h2>

  <p>Blurb about hotel 2</p>

  <p>More info</p>

  <h2 id="campground-info">Camping at Hamm Land</h2>

  <!-- camp carousel -->
  <carousel cellWidth="100%" dots="true" overflowCellsLimit="2" lightDOM="true" [images]="[
    {path: 'venue/camp1.JPG'|getDownloadURL},
    {path: 'venue/camp2.JPG'|getDownloadURL},
    {path: 'venue/camp3.JPG'|getDownloadURL},
    {path: 'venue/games1.JPG'|getDownloadURL},
    {path: 'venue/games2.JPG'|getDownloadURL},
    {path: 'venue/games3.JPG'|getDownloadURL},
    {path: 'venue/games4.JPG'|getDownloadURL},
    {path: 'venue/campwater1.JPG'|getDownloadURL},
    {path: 'venue/campwater2.JPG'|getDownloadURL},
    {path: 'venue/campwater3.JPG'|getDownloadURL},
    {path: 'venue/campwater4.JPG'|getDownloadURL},
  ]">
  </carousel>

  <p>Tina's parents maintain a small campsite for their friends and family. It's a good place to drink, roast
    marshmallows, play lawn games, and go for a swim. If you'd like to stay on the campgrounds for the wedding, please
    contact us ASAP as space is limited.</p>
</div>