<div>
  <h1>Lodging</h1>

  <h2>Hotel 1</h2>

  <p>Blurb about hotel 1</p>

  <p>More info</p>

  <h2>Hotel 2</h2>

  <p>Blurb about hotel 2</p>

  <p>More info</p>

  <!-- camp carousel -->
  <carousel cellWidth="100%" dots="true" overflowCellsLimit="2" lightDOM="true" [images]="[
    {path: 'venue/camp1.JPG'|getDownloadURL},
    {path: 'venue/camp2.JPG'|getDownloadURL},
    {path: 'venue/camp3.JPG'|getDownloadURL},
    {path: 'venue/games1.JPG'|getDownloadURL},
    {path: 'venue/games2.JPG'|getDownloadURL},
    {path: 'venue/games3.JPG'|getDownloadURL},
    {path: 'venue/games4.JPG'|getDownloadURL},
    {path: 'venue/campwater1.JPG'|getDownloadURL},
    {path: 'venue/campwater2.JPG'|getDownloadURL},
    {path: 'venue/campwater3.JPG'|getDownloadURL},
    {path: 'venue/campwater4.JPG'|getDownloadURL},
  ]">
  </carousel>

  <p>Tina's parents maintain a small campsite for their friends and family. It's a good place to drink, roast
    marshmallows, play lawn games, and go for a swim. If you'd like to stay on the campgrounds for the wedding, please
    contact us ASAP as space is limited</p>
</div>