<div class="wrapper">
  <header>

    <!-- <ul class="downloads">
      <li><a routerLink="/faq" fragment="content">Info and<strong>FAQ</strong></a></li>
      <li><a routerLink="/lodging" fragment="content">Hotels and <strong>Lodging</strong></a></li>
      <li><a routerLink="/venue" fragment="content">About the <strong>Venue</strong></a></li>
    </ul> -->

    <h2>We're getting married!</h2>

    <img src="/assets/img/us.jpg" alt="Logo" />

    <!-- <ul class="downloads">
      <li><a href="https://goo.gl/maps/GiBVsga2FhPUyfJP9" target="_blank">Google Maps <strong><i
              class='fa fa-map-marker'></i>
            Directions</strong></a>
      </li>
      <li><a routerLink="/upload">Upload<strong>Pictures</strong></a></li>
      <li><a routerLink="/rsvp">Coming?<strong>RSVP</strong></a></li>
    </ul> -->
    <p>
      <a routerLink="/faq" fragment="content" routerLinkActive="active">FAQ</a> /
      <a routerLink="/venue" fragment="content" routerLinkActive="active">Venue</a> /
      <a routerLink="/lodging" fragment="content" routerLinkActive="active">Lodging</a> /
      <a routerLink="/rsvp" fragment="content" routerLinkActive="active">RSVP</a> /
      <a routerLink="/photos" fragment="content" routerLinkActive="active">Photos</a> /
      <a routerLink="/auth" fragment="content" routerLinkActive="active">{{(afAuth.authState | async) ? 'Logout' :
        'Login'}}</a>
    </p>


  </header>
  <section>

    <router-outlet id="content"></router-outlet>
  </section>
  <!-- <footer>
    <p>Check out my <a target="_blank" href="https://github.com/evheath/wedding-angular">GitHub</a></p>
  </footer> -->
</div>