<div>
  <h1 id="frequently-asked-questions">Frequently Asked Questions</h1>

  <h2 id="where-is-the-ceremonyreception">Where is the ceremony/reception?</h2>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d23018.38694595985!2d-89.9595325!3d43.8496441!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8800abbb6d1552db%3A0x50edf031c2941607!2s5495%20County%20Rd%20HH%2C%20Mauston%2C%20WI%2053948!5e0!3m2!1sen!2sus!4v1624811130434!5m2!1sen!2sus"
    width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

  <p>Tina’s parents are generously hosting the whole shabang on their property in Mauston, Wisconsin.</p>

  <p>There’s a lake for swimming/kayaking and even a <a routerLink="/lodging" fragment="campground-info">small
      campground if you
      want to stay on
      location.</a></p>

  <p>If you’d like to see some pictures of the venue <a routerLink="/venue" fragment="content">click here.</a></p>

  <h2 id="when-is-the-wedding">When is the wedding?</h2>

  <p><strong>July 30th, 2022</strong></p>

  <mat-card style="width: 300px;">
    <!-- <mat-card> -->
    <mat-calendar startView="month" [startAt]="theDate" [selected]="theDate"></mat-calendar>

  </mat-card>

  <!-- <iframe
    src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=1&amp;bgcolor=%239E69AF&amp;ctz=America%2FChicago&amp;src=bnJrZ2VsNHA3dmcyZWNhcDR0cWdhbDBzYjRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23A79B8E&amp;showTitle=0&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=MONTH&amp;title=The%20Wedding&amp;dates=20220701%2F20220731"
    style="border-width:0" width="100%" height="300" frameborder="0" scrolling="no"></iframe> -->
  <p><a target="_blank"
      href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NTRhMWw1MDRxbWE5MHJtcDA3b3ZodjQzOGIgbnJrZ2VsNHA3dmcyZWNhcDR0cWdhbDBzYjRAZw&amp;tmsrc=nrkgel4p7vg2ecap4tqgal0sb4%40group.calendar.google.com">Click
      here to add it to your Google Calendar</a></p>

  <p>The ceremony will start at 5pm with food to follow right after. Feel free to show up earlier if you'd like to swim,
    drink, and hangout.</p>

  <h2 id="parking-situation">Where should I park?</h2>

  <p>
    If you plan on driving, you will be able to park directly on the property. Tina's parents will have a makeshift
    parking lot for people's vehicles.
  </p>

  <p>
    If you plan on staying at one of the hotels listed in the <a routerLink="/lodging">lodging section</a>, we will be
    working to coordinate a
    shuttle service to-and-from the property. That way you can drink and not have to worry about designated drivers.
  </p>

  <h2 id="flight-plan">I'm coming from out of state. How should I get there?</h2>

  <p>
    If you must fly, I'd recommend landing in Madison (MSN), renting a car, then driving to Mauston (a 1-hour trip).
  </p>

  <p>
    Alternatively, if you choose to make an awesome road trip to Wisconsin, you should <a routerLink="/photos">share
      pictures</a> of your
    journey with everyone!
  </p>

  <h2>What will be served for dinner?</h2>

  <p>We will be catering a buffet that will include a smoked brisket, roast turkey, vegetarian lasagna, mashed potatoes,
    corn, green beans, and a salad. If you have special dietary restrictions we will not be offended if you bring your
    own snacks/meal.</p>

  <h2 id="what-is-the-dress-code">What is the dress code?</h2>

  <p><strong>Extremely</strong> casual. This will be an <em>outdoor summertime</em> wedding in rural Wisconsin,
    so dress to beat the heat. Don’t be the guy who shows up in a fancy suit, we might be forced to throw you in the
    lake. Which reminds me: don’t forget to bring a swimsuit! 👙 </p>

  <h2 id="is-there-a-gift-registry">Is there a gift registry?</h2>

  <p><strong>No gifts please.</strong> We already have a home/kitchen filled with everything we need 😃. We realize this
    wedding is likely to incur many travel expenses, so we don’t want to shake down our friends and family for cast iron
    pans etc. If you insist on flexing your wealth, feel free to <a href="https://gofund.me/cd2cff93"
      target="_blank">donate to our
      honeymoon gofundme</a>. However that is completely optional; celebrating with you and your loved ones will be gift
    enough.</p>

  <h2 id="can-i-bring-my-dogschildren">Can I bring my dogs/children?</h2>

  <p>Yes! However, children must remain on a leash at all times. 😜</p>
</div>