<mat-card>

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="rsvpData.name">
  </mat-form-field>
  <mat-radio-group [(ngModel)]="rsvpData.attending">
    <div>
      <mat-radio-button [value]='true'>I am planning on attending</mat-radio-button>

    </div>
    <div>
      <mat-radio-button [value]='false'>I am not planning on attending</mat-radio-button>

    </div>
  </mat-radio-group>

  <div *ngIf="rsvpData.attending">
    <mat-divider style="margin-top: 1em;"></mat-divider>
    <p>How many people are coming? (Including yourself) </p>
    <mat-form-field appearance="fill">
      <mat-label>Attendees</mat-label>
      <input matInput type="number" [(ngModel)]="rsvpData.attendees">
    </mat-form-field>
    <mat-divider></mat-divider>

  </div>

  <p>Is there anything we should know or that you wanted to say?</p>
  <mat-form-field appearance="fill">
    <mat-label>Questions/Comments</mat-label>
    <textarea matInput [(ngModel)]="rsvpData.comment"></textarea>
  </mat-form-field>

  <mat-card-actions align="end">
    <button mat-flat-button color="primary" (click)="writeRsvp()">Save</button>
  </mat-card-actions>

</mat-card>